body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle {
    pointer-events: auto;
}
  

header {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
}

#time-filter-label {
  margin-left: auto; /* pushes slider to the right */
  display: inline-block;
  flex-direction:row;
  gap: 0.25em;
  align-items: baseline;
}

#time-filter-label time,
#time-filter-label em {
  display: block; /* prevents slider from shifting around */
  color: #3d60d2;
  font-style: italic;
  width: 100%;
  margin-left: auto;
}

#time-slider {
    width: 100%;
}
circle {
--color-departures: steelblue;
--color-arrivals: darkorange;
--color: color-mix(
  in oklch,
  var(--color-departures) calc(100% * var(--departure-ratio)),
  var(--color-arrivals)
);
fill: var(--color);
}

.legend {
  width: 100%;
  max-width: 100%;
  display: flex;
  gap: 1px;
  margin-top: 1em;
  border: 1px solid #ffffff;
}

.legend > div {
  flex: 1;
  padding: 0.5em 1em;
  color: rgb(255, 255, 255);
  font-size: 0.9em;
  text-align: center;
  --color-departures: steelblue;
  --color-arrivals: darkorange;

  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );

  fill: var(--color);
  background: var(--color);
}

